@use "../global/variables.scss";
@use "../global/mixins.scss";

.catalogue-header {
  padding: 37px 18px 35px;
  text-align: center;
  text-transform: uppercase;
}

.catalogue-header__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.catalogue-header__text {
  margin: 0;
  margin-top: 25px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: variables.$black-02;
}
