@use "../global/mixins.scss";

.catalogue-header {
  padding: 37px 18px 35px;

  @include mixins.font;
  text-align: center;
  text-transform: uppercase;
}

.catalogue-header__title {
  margin: 0;
}

.catalogue-header__text {
  margin: 0;
  margin-top: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
