@use "../global/variables.scss";
@use "../global/mixins.scss";

.catalogue-header {
  padding: 37px 18px 35px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: variables.$tablet-width) {
    padding: 67px 20px 81px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 98px 20px 89px;
  }
}

.catalogue-header__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  @media (min-width: variables.$tablet-width) {
    font-size: 30px;
  }
}

.catalogue-header__text {
  margin: 0;
  margin-top: 25px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: variables.$black-02;

  @media (min-width: variables.$tablet-width) {
    margin: 0 auto;
    max-width: 430px;
  }

  @media (min-width: variables.$tablet-width) {
    margin-top: 32px;
  }
}
