@use "../global/variables.scss";
@use "../global/mixins.scss";

.city-feature {
  @include mixins.list-reset;

  width: 100%;
  padding: 0 0 27px;
  background: variables.$white;

  @media (min-width: variables.$tablet-width) {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }
}

.city-feature__item {
  text-align: left;
  padding: 27px 18px 0 65px;

  @media (min-width: variables.$tablet-width) {
    margin: 0;
    padding: 80px 10px 10px;
    text-align: center;
    width: 256px;
  }
}

.city-feature__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
}

.city-feature__desc {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 16px;
}
