@use "../global/variables.scss";
@use "../global/mixins.scss";

.city-feature {
  @include mixins.list-reset;

  width: 100%;
  padding-bottom: 46px;
  background: variables.$white;

  @media (min-width: variables.$tablet-width) {
    padding: 0;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 0;
  }
}

.city-feature__item {
  max-width: 458px;
  margin: 0 auto;
  padding: 32px 18px 0 65px;
  text-align: left;

  @media (min-width: variables.$tablet-width) {
    width: 256px;
    margin: 0;
    padding: 155px 20px 62px;
    text-align: center;
    box-sizing: border-box;

    &:nth-child(odd) {
      padding: 155px 20px 62px;
    }

    &:nth-child(odd) p {
      padding: 0 20px;
    }
  }

  @media (min-width: variables.$desktop-width) {
    min-width: 350px;
    padding: 168px 20px 70px;

    &:nth-child(odd) {
      padding: 169px 20px 62px;
    }

    & p {
      padding: 0;
    }
  }
}

.city-feature__title {
  position: relative;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;

  &::before {
    content: "";
    position: absolute;
    left: -47px;
    top: 47%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
  }

  &--house::before {
    background: url("../img/icon-house.svg") center center / cover no-repeat;
  }

  &--food::before {
    background: url("../img/icon-food.svg") center center / cover no-repeat;
  }

  &--gift {
    margin-top: 1px;
  }

  &--gift::before {
    background: url("../img/icon-gift.svg") center center / cover no-repeat;
  }

  @media (min-width: variables.$tablet-width) {
    font-size: 21px;
    line-height: 26px;

    &::before {
      top: -96px;
      left: 50%;
      transform: translateX(-50%);
    }

    &--house::before {
      width: 77px;
      height: 72px;
    }

    &--food::before {
      width: 80px;
      height: 70px;
    }

    &--gift {
      margin-top: 0;
    }

    &--gift::before {
      width: 71px;
      height: 81px;
    }
  }

  @media (min-width: variables.$desktop-width) {
    &::before {
      left: 50%;
      transform: translateX(-50%);
    }

    &--house::before {
      top: -102px;
      width: 80px;
      height: 75px;
    }

    &--food::before {
      top: -97px;
      left: 49%;
      width: 77px;
    }

    &--gift::before {
      top: -105px;
      width: 75px;
      height: 82px;
    }
  }
}

.city-feature__desc {
  display: block;
  margin: 0;
  margin-top: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: variables.$black-02;

  @media (min-width: variables.$tablet-width) {
    margin-top: 24px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-top: 23px;

    & span {
      display: block;
    }
  }
}
