@use "../global/variables.scss";

.copyright__link {
  text-decoration: none;
  color: variables.$black-01;

  svg {
    vertical-align: middle;
  }

  &:hover {
    color: variables.$blue-01;
  }

  &:focus {
    color: variables.$blue-01;
  }

  &:active {
    color: variables.$grey-05;
  }
}

.copyright__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin-right: 12px;
}
