@use "../global/variables.scss";

.copyright {
  display: flex;
  align-items: center;
}

.copyright__link {
  display: block;
}

.copyright__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: variables.$black-02;
  margin-right: 12px;
}
