@use "../global/mixins.scss";
@use "../global/variables.scss";

.features {
  text-align: center;
}

.features__list {
  @include mixins.list-reset;

  @media (min-width: variables.$tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(256px, auto);
  }
}

.features__item-list {
  @media (min-width: variables.$tablet-width) {
    grid-column: 1 / 4;
  }
}

.features__item {
  padding: 24px 18px 24px;
  background: variables.$grey-03;
  border-bottom: 1px solid variables.$grey-04;

  &--accent {
    padding: 0;
    border: none;
    background: variables.$blue-01;
  }

  @media (min-width: variables.$tablet-width) {
    border-bottom: none;
    padding: 52px 0;

    &--accent {
      grid-column: 1 / 4;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding: 0;
    }

    &:nth-child(3n+4) {
      padding: 42px 0;
    }

    &:nth-child(3n+4) > p {
      padding: 0 40px;
    }
  }

  @media (min-width: variables.$desktop-width) {
    padding: 64px 0 40px;

    &--accent {
      padding: 0;
    }

    &:nth-child(3n+4) {
      padding: 53px 0 40px;
    }
  }
}

.features__item-wrapper {
  padding: 54px 18px 40px;
  color: variables.$white;

  &--accent-first {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -3px;
      left: 0;
      background: variables.$white;
      width: 100%;
      height: 25px;
      clip-path: polygon(50% 100%, -100px 0%, 130% 0%);
    }
  }

  &--accent-second {
    padding: 37px 18px 36px;
  }

  @media (min-width: variables.$tablet-width) {
    padding: 53px 20px 20px;

    &--accent-first {
      &::before {
        display: none;
      }
    }

    &--accent-second {
      order: 2;
    }
  }
}

.features__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;

  @media (min-width: variables.$tablet-width) {
    width: 150px;
    margin: 0 auto;
    font-size: 21px;
    line-height: 26px;

    & span {
      display: block;
    }
  }

  @media (min-width: variables.$desktop-width) {
    padding: 0 100px;
  }
}

.features__subject {
  display: inline-block;
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-top: 12px;
  color: variables.$black-02;

  &::before,
  &::after {
    content: "";
    width: 8px;
    height: 1px;
    background: variables.$black-02;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &::before {
    left: -12px;
  }

  &::after {
    right: -12px;
  }

  &--white {
    color: variables.$white;

    &::before,
    &::after {
      background: variables.$white;
    }
  }
}

.features__text {
  margin: 0;
  margin-top: 17px;
  padding: 0 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: variables.$black-02;

  &--white {
    padding: 0;
    color: variables.$white;
  }

  @media (min-width: variables.$tablet-width) {
    margin-top: 24px;

    &--white {
      padding: 0 10px;
    }
  }

  @media (min-width: variables.$desktop-width) {
    padding: 0 35px;

    &--white {
      padding: 0 45px;
    }

    &--width {
      padding: 0 70px;
    }
  }
}

.features__img-wrapper {
  height: 260px;
  background: variables.$grey-04;
  line-height: 0;
  text-align: center;
  overflow: hidden;

  @media (min-width: variables.$tablet-width) {
    height: 256px;

    &--right-img {
      grid-column: 2 / 4;
    }

    &--left-img {
      grid-column: 3 / 1;
    }
  }
}

.features__img {
  width: 100%;

  @include mixins.img;
}
