@use "../global/mixins.scss";
@use "../global/variables.scss";

.footer {
  @include mixins.font;
}

.footer__wrapper {
  padding: 39px 18px 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: variables.$white;

  @media (min-width: variables.$tablet-width) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}

.footer__tags {
  margin: 0;
  margin-bottom: 34px;

  @media (min-width: variables.$tablet-width) {
    margin: 0;
  }
}

.footer__copyright {
  margin-top: 40px;

  @media (min-width: variables.$tablet-width) {
    margin: 0;
  }
}
