@use "../global/mixins.scss";

.footer {
  @include mixins.font;
}

.footer__wrapper {
  padding: 39px 18px 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__tags {
  margin-bottom: 34px;
}

.footer__copyright {
  margin-top: 40px;
}
