@use "../global/mixins.scss";
@use "../global/variables.scss";

.form {
  @media (min-width: variables.$tablet-width) {
    padding: 0 60px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 0;
  }
}

.form__wrapper {
  @media (min-width: variables.$tablet-width) {
    display: flex;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 33px;

    &::before {
      content: "";
      width: 2px;
      height: 100%;
      background: variables.$grey-03;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  @media (min-width: variables.$desktop-width) {
    padding-bottom: 0;

    &::before {
      left: 493px;
    }
  }
}

.form__user-info {
  margin: 0;
  margin-top: 24px;
  padding: 0 20px 18px;
  border: none;
  border-bottom: 2px solid variables.$grey-03;

  &:first-child {
    margin-top: 22px;
    padding: 0 20px 23px;
  }

  @media (min-width: variables.$tablet-width) {
    width: 100%;
    min-width: 280px;
    margin: 0;
    padding: 0;
    border: none;

    &:first-child {
      margin: 0;
      margin-right: 90px;
      padding: 0;
    }
  }

  @media (min-width: variables.$desktop-width) {
    width: 430px;

    &:last-child {
      width: 402px;
      margin-left: 38px;
    }
  }
}

.form__user-comments {
  margin: 0;
  margin-top: 23px;
  padding: 0;
  border: none;
  border-bottom: 2px solid variables.$grey-03;

  &:nth-child(2) {
    margin-top: 24px;
  }

  &:nth-last-child(2) {
    border-bottom: none;
  }

  @media (min-width: variables.$tablet-width) {
    padding: 0;
    border: none;
    margin-top: 40px;

    &:nth-last-child(2) {
      margin-top: 33px;
    }
  }

  @media (min-width: variables.$desktop-width) {
    margin-top: 65px;

    &:nth-child(2) {
      margin-top: 55px;
    }

    &:nth-child(2) .form__title {
      margin-bottom: 40px;
    }

    &:nth-last-child(2) {
      margin-top: 77px;
    }

    &:nth-last-child(2) .form__title {
      margin-bottom: 29px;
    }
  }
}

.form__comments-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0 20px 13px;
  margin-top: 1px;

  &--width-emotion {
    padding: 0 20px;
  }

  @media (min-width: variables.$tablet-width) {
    justify-content: space-between;
    padding: 0 56px;
    margin-left: -20px;

    &--width-attraction {
      padding: 0 105px;
      margin-bottom: -2px;
    }

    &--width-emotion {
      padding: 0;
      max-width: 768px;
      margin: 0 auto;
      margin-top: 5px;
    }
  }

  @media (min-width: variables.$desktop-width) {
    margin-top: 0;
    padding: 0 34px 0 72px;

    &--width-attraction {
      margin-top: 30px;
      padding: 0 25px 0 64px;
    }

    &--width-emotion {
      padding: 0;
    }
  }
}

.form__title {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  z-index: 2;

  @media (min-width: variables.$tablet-width) {
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 22px;

    &--decor-line::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 100%;
      height: 2px;
      background: variables.$grey-03;
      z-index: 1;
    }

    &--represent {
      margin-left: 20px;
    }

    &--left {
      text-align: left;
      margin-left: -20px;
    }
  }

  @media (min-width: variables.$desktop-width) {
    margin-left: 0;
    margin-bottom: 23px;

    &--represent {
      margin-left: 32px;
    }

    &--left {
      margin-left: 30px;
    }
  }
}

.form__title-text {
  position: relative;
  display: block;
  width: 300px;
  margin: 0 auto;
  padding: 0;
  background: variables.$white;
  z-index: 3;

  @media (min-width: variables.$tablet-width) {
    width: 340px;
    padding: 0 30px;
    margin: 0 auto;
  }
}

.form__inner-wrapper {
  margin-top: 5px;
  margin-bottom: 16px;
  position: relative;

  &--icon {
    &::before {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      width: 58px;
      height: 58px;
      background-color: variables.$grey-02;
      z-index: 1;
    }
  }
}

.form__input-icon {
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 5;
}

.form__sub {
  display: block;
  padding-left: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: variables.$black-02;

  &--bold {
    min-width: 120px;
    position: relative;
    padding: 15px 20px 20px 62px;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-transform: none;
    color: variables.$black-01;
  }

  &--right {
    padding-bottom: 21px;
  }

  @media (min-width: variables.$desktop-width) {
    &--right:nth-child(-n+2) {
      margin-right: 19px;
    }
  }
}

.form__custom-input {
  position: absolute;
  width: 46px;
  height: 46px;
  left: 0;
  top: 46%;
  transform: translateY(-50%);
  background: variables.$grey-01;

  &--radio {
    border-radius: 50%;
  }

  &--checkbox {
    border-radius: 4px;
  }
}

.form__input[type="radio"],
.form__input[type="checkbox"] {
  position: absolute;
  appearance: none;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

//* Checked
.form__input[type="radio"]:checked + .form__custom-input--radio {
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
    background: variables.$black-04;
    border-radius: 50%;
  }
}

.form__input[type="checkbox"]:checked + .form__custom-input--checkbox {
  background-image: url("../img/checkbox-tick.svg");
  background-color: variables.$grey-01;
  background-repeat: no-repeat;
  background-position: center center;
}

.form__input[type="radio"]:hover + .form__custom-input--radio,
.form__input[type="checkbox"]:hover + .form__custom-input--checkbox {
  background-color: variables.$grey-02;
}

.form__input[type="radio"]:focus + .form__custom-input--radio,
.form__input[type="checkbox"]:focus + .form__custom-input--checkbox {
  background-color: variables.$grey-02;
}

.form__input[type="radio"]:active + .form__custom-input--radio,
.form__input[type="checkbox"]:active + .form__custom-input--checkbox {
  background-color: variables.$grey-04;
}

.form__input[type="radio"]:checked:active + .form__custom-input--radio,
.form__input[type="checkbox"]:checked:active + .form__custom-input--checkbox {
  opacity: 0.7;
  background-color: variables.$grey-04;
}

.form__input[type="radio"]:checked:focus + .form__custom-input--radio,
.form__input[type="checkbox"]:checked:focus + .form__custom-input--checkbox {
  background-color: variables.$grey-02;
}
//***

//* Disabled
.form__input[type="radio"]:disabled + .form__custom-input--radio,
.form__input[type="checkbox"]:disabled + .form__custom-input--checkbox {
  background-color: variables.$grey-01;
}

.form__input[type="radio"]:disabled ~ span,
.form__input[type="checkbox"]:disabled ~ span {
  color: variables.$grey-04;
}
//***

.form__input {
  width: 100%;
  min-height: 58px;
  box-sizing: border-box;
  padding: 17px 16px 15px;
  border: none;
  background: variables.$grey-01;
  outline: none;

  @include mixins.font;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  &:hover {
    background: variables.$grey-02;
  }

  &:focus {
    background: transparent;
    border: 4px solid variables.$grey-02;
    padding: 12px;
  }

  &--icon {
    padding-right: 80px;
  }

  &::placeholder {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: variables.$black-03;
  }

  &[type="text"]::placeholder {
    opacity: 1;
    color: variables.$black-01;
  }

  &--area {
    margin: 0;
    margin-top: 4px;
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    padding: 17px 16px 16px;
    background: variables.$grey-01;
    border: none;

    &::placeholder {
      font-weight: 700;
      font-size: 18px;
      line-height: 26px;
      color: variables.$black-03;
    }
  }

  @media (min-width: variables.$tablet-width) {
    &--area {
      margin: 0;
      height: 160px;
      padding: 17px 16px 16px;
    }
  }

  @media (min-width: variables.$desktop-width) {
    padding: 16px;
  }
}

.form__input:invalid:not(:placeholder-shown) {
  outline: 2px solid variables.$error;
}

.form__input:required:valid {
  outline: 2px solid variables.$correct;
}

.form__legend {
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  color: variables.$black-02;

  @media (min-width: variables.$tablet-width) {
    font-size: 14px;
    line-height: 21px;
  }
}

.form__btn-wrapper {
  text-align: right;
  padding: 56px 20px 25px;

  @media (min-width: variables.$tablet-width) {
    padding: 49px 0 60px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    max-width: 768px;
    margin: 0 auto;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 48px 0 63px 0;
  }
}
