@use "../global/mixins.scss";
@use "../global/variables.scss";

.form {
  @include mixins.font;

  @media (min-width: variables.$tablet-width) {
    padding: 0 60px;
  }
}

.form__wrapper {
  @media (min-width: variables.$tablet-width) {
    display: flex;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 40px;

    &::before {
      content: "";
      width: 2px;
      height: 100%;
      background: variables.$grey-03;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.form__user-info {
  margin: 0;
  padding: 0 20px;
  padding-bottom: 20px;
  border: none;
  border-bottom: 2px solid variables.$grey-03;

  @media (min-width: variables.$tablet-width) {
    width: 100%;
    min-width: 280px;
    border: none;
    padding: 0;

    &:first-child {
      margin-right: 90px;
    }
  }
}

.form__inner-wrapper {
  margin-top: 16px;
}

.form__user-comments {
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: 2px solid variables.$grey-03;

  &:nth-last-child(2) {
    border-bottom: none;
  }

  @media (min-width: variables.$tablet-width) {
    border: none;
  }
}

.form__title {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  z-index: 2;

  @media (min-width: variables.$tablet-width) {
    &--decor-line::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 100%;
      height: 2px;
      background: variables.$grey-03;
      z-index: 1;
    }

    &--left {
      text-align: left;
    }
  }
}

.form__title-text {
  position: relative;
  display: block;
  width: 300px;
  margin: 0 auto;
  padding: 0;
  background: variables.$white;
  z-index: 3;

  @media (min-width: variables.$tablet-width) {
    padding: 0 30px;
  }
}

.form__comments-wrapper {
  padding-left: 16px;

  &--width-emotion {
    padding: 0 20px;
  }

  @media (min-width: variables.$tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;

    &--width-attraction {
      padding: 0 100px;
    }

    &--width-emotion {
      max-width: 768px;
      margin: 0 auto;
    }
  }

  @media (min-width: variables.$desktop-width) {
    &--width-attraction {
      padding: 0 40px;
    }
  }
}

.form__sub {
  display: block;
  padding-left: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: variables.$black-02;

  &--bold {
    min-width: 170px;
    padding: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-transform: none;
    color: variables.$black-01;
  }

  @media (min-width: variables.$tablet-width) {
    padding: 10px;
  }
}

.form__input {
  width: 100%;
  box-sizing: border-box;
  padding: 16px;
  border: none;
  background: variables.$grey-01;

  &::placeholder {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: variables.$black-03;
  }
}

.form__input-area {
  width: 100%;
  box-sizing: border-box;
  padding: 16px;
  background: variables.$grey-01;
  border: none;

  &::placeholder {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: variables.$black-03;
  }
}

.form__legend {
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  color: variables.$black-02;
}

.form__btn-wrapper {
  text-align: right;
  padding: 24px 20px 39px;

  @media (min-width: variables.$tablet-width) {
    padding: 40px 0;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    max-width: 768px;
    margin: 0 auto;
  }
}
