@use "../global/mixins.scss";
@use "../global/variables.scss";

.form-page {
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: variables.$tablet-width) {
    min-width: 648px;
  }

  @media (min-width: variables.$desktop-width) {
    max-width: 960px;
  }
}

.form-page__header {
  @include mixins.font;
  padding: 36px 0 28px;
  text-align: center;
}

.form-page__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.form-page__text {
  margin: 0;
  margin-top: 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}
