@use "../global/variables.scss";
@use "../global/mixins.scss";

.intro {
  position: relative;
  background: variables.$white;

  @media (min-width: variables.$tablet-width) {
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      bottom: 28px;
      border: 0 solid transparent;
      border-bottom: 57px solid variables.$white;
      z-index: 2;
    }

    &::before {
      left: 50%;
      transform: translate(-100%, 50%);
      border-left-width: 0;
      border-right-width: 350px;
    }

    &::after {
      right: 50%;
      transform: translate(100%, 50%);
      border-right-width: 0;
      border-left-width: 350px;
    }
  }

  @media (min-width: variables.$desktop-width) {
    &::before,
    &::after {
      bottom: 34px;
    }
  }
}

.intro__wrapper {
  margin-top: 55px;
  background-color: variables.$blue-01;
  background-image: url("../img/intro_bg-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 91%, 50% 98%, 0 91%);

  @media (min-resolution: 2dppx) {
    background-image: url("../img/intro_bg-mobile@2x.jpg");
  }

  @media (min-width: variables.$tablet-width) {
    margin-top: 56px;
    background-image: url("../img/intro_bg-tablet.jpg");
    clip-path: polygon(0 0, 100% 0, 100% 93%, 50% 100%, 0 93%);

    @media (min-resolution: 2dppx) {
      background-image: url("../img/intro_bg-tablet@2x.jpg");
    }
  }

  @media (min-width: variables.$desktop-width) {
    background-image: url("../img/intro_bg-desktop.jpg");
    clip-path: polygon(0 0, 100% 0, 100% 88%, 50% 99%, 0 88%);

    @media (min-resolution: 2dppx) {
      background-image: url("../img/intro_bg-desktop@2x.jpg");
    }
  }
}

.intro__wrapper-image {
  padding: 90px 0;
  margin: 0 auto;
  text-align: center;

  @media (min-width: variables.$tablet-width) {
    padding: 77px 0 86px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 78px 0 90px;
  }
}

.intro__icon-text {
  width: 282px;
  height: 214px;

  @media (min-width: variables.$tablet-width) {
    width: 461px;
    height: 350px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 460px;
    height: 350px;
  }
}

// .intro-text-top {
//   display: none;
// }

// .intro__wrapper-image img {
//   width: 282px;
//   height: 214px;
//   margin: 0 auto;

//   @include mixins.img;

//   @media (min-width: variables.$tablet-width) {
//     width: 461px;
//   }

//   @media (min-width: variables.$tablet-width) {
//     width: 460px;
//   }
// }
