@use "../global/mixins.scss";
@use "../global/variables.scss";

.lions__list {
  @media (min-width: variables.$tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 60px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 0;
  }
}

.lions__item {
  margin: 0;
  padding: 24px 20px 0;
  border-bottom: 1px solid variables.$grey-02;

  @media (min-width: variables.$tablet-width) {
    width: 50%;
    padding: 0;
    background: variables.$grey-01;
    border: none;

    &:nth-child(n+3):nth-child(odd) {
      background: variables.$grey-03;
    }

    &:first-child {
      width: 100%;
    }
  }

  @media (min-width: variables.$desktop-width) {
    width: 400px;
    position: relative;
  }
}

.lions__image-wrapper {
  width: 100%;
  height: auto;
  background: variables.$grey-05;
  overflow: hidden;

  @media (min-width: variables.$tablet-width) {
    height: 267px;

    &--accent {
      height: 400px;
    }
  }
}

.lions__image {
  width: 100%;

  @include mixins.img;
}

.lions__info-wrapper {
  padding: 15px 0 25px;

  @media (min-width: variables.$tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 20px 15px;
  }

  @media (min-width: variables.$desktop-width) {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 2;
    box-sizing: border-box;
    color: variables.$white;
    background: variables.$black-03;
  }
}

.lions__title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.lions__author-name {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
  color: variables.$black-02;

  @media (min-width: variables.$desktop-width) {
    color: variables.$white;
  }
}

.lions__likes-info {
  margin-top: 11px;
  display: flex;
  align-items: flex-end;
}

.lions__likes-btn {
  margin-right: 14px;
  width: 23px;
  height: 21px;
}

.lions__likes-count {
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
}
