@use "../global/mixins.scss";
@use "../global/variables.scss";

.lions__list {
  @include mixins.font;

  @media (min-width: variables.$tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 60px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 0;
  }
}

.lions__item {
  margin: 0;
  border-bottom: 1px solid variables.$grey-02;

  @media (min-width: variables.$tablet-width) {
    width: 50%;
    border: none;

    &:first-child {
      width: 100%;
    }
  }

  @media (min-width: variables.$desktop-width) {
    width: 400px;
    flex-grow: 1;
  }
}

.lions__inner-wrapper {
  padding: 24px 20px 0;

  @media (min-width: variables.$tablet-width) {
    padding: 0;
  }
}

.lions__image-wrapper {
  width: 100%;
  background: variables.$grey-01;
}

.lions__image {
  @include mixins.img;
}

.lions__title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.lions__author-name {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
}

.lions__info-wrapper {
  padding: 15px 0 25px;

  @media (min-width: variables.$tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: variables.$grey-01;
    padding: 22px 20px 15px;
  }
}

.lions__likes-info {
  margin-top: 11px;
  display: flex;
  align-items: flex-end;
}

.lions__likes-btn {
  margin-right: 14px;
  width: 23px;
  height: 21px;
}

.lions__likes-count {
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
}
