@use "../global/mixins.scss";
@use "../global/variables.scss";

.main-nav__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 56px;
  background: variables.$white;
  z-index: 5;
}

.main-nav__list {
  @include mixins.list-reset;
  @include mixins.font;
}
