@use "../global/variables.scss";
@use "../global/mixins.scss";

.main-map {
  display: flex;
  justify-content: center;
  background: variables.$grey-04 url("../../img/map-mobile.jpg") no-repeat center center / cover;
  min-height: 350px;
}
