@use "../global/variables.scss";
@use "../global/mixins.scss";

.main-header__wrapper {
  height: 56px;
  background: variables.$white;
}

.main-header__logo-link {
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(50%);
  z-index: 4;

  @media (min-width: variables.$tablet-width) {
    position: fixed;
    z-index: 6;
  }
}

.main-header__logo-image {
  @include mixins.img;
}

.main-header__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99;
  width: 56px;
  height: 56px;

  @media (min-width: variables.$tablet-width) {
    position: fixed;
    display: none;
  }
}
