@use "../global/variables.scss";

.main-header__container {
  position: relative;
}

.main-header__wrapper {
  height: 56px;
  background: variables.$white;
}

.main-header__logo-link {
  position: fixed;
  top: 0;
  right: 50%;
  transform: translateX(50%);
  z-index: 4;

  @media (min-width: variables.$tablet-width) {
    z-index: 6;
  }
}

.main-header__toggle {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
  width: 56px;
  height: 56px;

  @media (min-width: variables.$tablet-width) {
    display: none;
  }
}
