@use "../global/mixins.scss";
@use "../global/variables.scss";

.modal {
  &--error {
    padding: 45px 42px 35px;
  }
}

.modal__wrapper {
  @include mixins.font;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  &--success {
    padding: 39px 37px;
  }
}

.modal__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.modal__text {
  margin: 0;
  margin-top: 35px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
}

.modal__button-wrapper {
  padding: 20px;
  background: variables.$grey-01;
}
