@use "../global/variables.scss";

.second-intro {
  position: relative;
  background: variables.$white;

  @media (min-width: variables.$tablet-width) {
    &::before {
      content: "";
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translate(-100%, 50%);
      width: 0;
      height: 0;
      border: 0 solid transparent;
      border-left-width: 0;
      border-right-width: 345px;
      border-bottom: 40px solid variables.$white;
      z-index: 3;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 20px;
      right: 50%;
      transform: translate(100%, 50%);
      width: 0;
      height: 0;
      border: 0 solid transparent;
      border-right-width: 0;
      border-left-width: 345px;
      border-bottom: 40px solid variables.$white;
    }
  }
}

.second-intro__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: variables.$blue-01 url("../img/mainback-mobile-2.jpg") no-repeat center bottom / cover;
  clip-path: polygon(0 0, 100% 0, 100% 95%, 50% 100%, 0 95%);

  @media (min-width: variables.$tablet-width) {
    clip-path: polygon(0 0, 100% 0, 100% 89%, 50% 100%, 0 89%);
  }

  @media (min-width: variables.$desktop-width) {
    clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 100%, 0 75%);
  }
}

.second-intro__wrapper-image {
  padding: 52px 18px 67px;
}
