@use "../global/variables.scss";
@use "../global/mixins.scss";

.site-list {
  @include mixins.font;
  @include mixins.list-reset;
  min-height: 56px;
  background: variables.$white;

  @media (min-width: variables.$tablet-width) {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
  }
}

.site-list__item {
  width: 100%;
  text-align: center;
  background: variables.$blue-01;
  border-top: 1px solid variables.$grey-05;
  border-bottom: 1px solid variables.$blue-03;

  &:last-child {
    border-bottom: none;
  }

  @media (min-width: variables.$tablet-width) {
    background: none;
    border: none;

    &:nth-child(2) {
      margin-right: 153px;
    }
  }
}

.site-list__link {
  display: block;
  padding: 17px 0;
  font-weight: 700;
  text-decoration: none;
  color: variables.$white;

  &--active {
    user-select: none;
  }

  @media (min-width: variables.$tablet-width) {
    color: variables.$black-02;

    &--active {
      color: variables.$color-active;
      font-weight: 700;
    }
  }
}
