@use "../global/variables.scss";
@use "../global/mixins.scss";

.social {
  display: flex;
}

.social__item {
  position: relative;
  width: 48px;
  height: 48px;
  background: variables.$blue-01;
  margin-right: 6px;

  &:last-child {
    margin: 0;
  }

  &:hover {
    background: variables.$blue-02;
  }

  &:active .social__link {
    opacity: 0.3;
  }
}

.social__link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: variables.$white;
  line-height: 0;
  padding: 12px;

  &:focus {
    background: variables.$blue-02;
  }

  &--vk {
    width: 24px;
    height: 24px;
  }

  &--telegram {
    width: 24px;
    height: 24px;
  }

  &--youtube {
    width: 24px;
    height: 24px;
  }
}
