@use "../global/mixins.scss";
@use "../global/variables.scss";

.tags__link {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: variables.$black-02;
  text-decoration: none;
  text-transform: uppercase;
}
