// Основные цвета, идут от светлого к темному:

// Черный
$black-01: rgba(51, 51, 51, 1);
$black-02: rgba(0, 0, 0, 1);

// Белый
$white: rgba(255, 255, 255, 1);

// Серый
$grey-01: rgba(242, 242, 242, 1);
$grey-02: rgba(229, 229, 229, 1);
$grey-02: rgba(230, 230, 230, 1);
$grey-04: rgba(213, 213, 213, 1);
$grey-05: rgba(179, 179, 179, 1);

// Голубой - основной акцентный цвет
$blue-01: rgba(129, 179, 210, 1);
$blue-02: rgba(102, 158, 192, 1);
$blue-03: rgba(84, 150, 189, 1);
