@use "../global/mixins.scss";
@use "../global/variables.scss";

.button {
  width: 100%;
  padding: 16px 0;

  @include mixins.font;
  color: variables.$white;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  background: variables.$blue-01;
  border: none;
  cursor: pointer;

  &:hover {
    background: variables.$blue-02;
  }

  &:focus {
    background: variables.$blue-02;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background: variables.$blue-03;
  }

  &--error {
    margin-top: 28px;
    width: 180px;
  }

  &--success {
    font-size: 18px;
    line-height: 26px;
  }

  &--link {
    max-width: 458px;
    margin-top: 33px;
    display: block;
    text-decoration: none;
  }

  @media (min-width: variables.$tablet-width) {
    margin-top: 42px;

    &--actions {
      margin: 0;
      width: 324px;
    }

    &--error {
      margin-top: 49px;
      width: 272px;
    }

    &--success {
      margin: 0;
      font-size: 21px;
      line-height: 26px;
    }
  }

  @media (min-width: variables.$desktop-width) {
    margin-top: 46px;

    &--actions {
      margin: 0;
      width: 384px;
    }

    &--error {
      margin-top: 47px;
    }

    &--success {
      margin: 0;
    }
  }
}
