@use "../global/variables.scss";

.secondary-intro {
  padding: 52px 18px 67px;
  background: variables.$blue-01 url("../img/mainback-mobile-2.jpg") no-repeat center bottom / cover;
}

.secondary-intro__wrapper {
  display: flex;
  justify-content: center;
}
